title: Math on Tape
description: Signal Processing & Audio Systems
url: "https://petersalvato.github.io/mathontape-constellation"
baseurl: "/mathontape-constellation"

markdown: kramdown
permalink: pretty
sass:
  style: compressed

exclude:
  - README.md
  - Gemfile
  - Gemfile.lock
  - vendor/
